<p>Hey there,</p>

<p>Someone just tried to purchase a membership to <strong><%= @product.name %></strong> using your email address, but you already have an active subscription.</p>

<p>If this was you, no worries! Your existing membership is still active and you don't need to do anything.</p>

<p>If you didn't try to make this purchase, you can safely ignore this email.</p>
